@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Metropolis Bold';
  src: url('fonts/metropolis/Metropolis-Bold.otf');
}
@font-face {
  font-family: 'Metropolis SemiBold';
  src: url('fonts/metropolis/Metropolis-SemiBold.otf');
}
@font-face {
  font-family: 'Metropolis Medium';
  src: url('fonts/metropolis/Metropolis-Medium.otf');
}
@font-face {
  font-family: 'Metropolis Regular';
  src: url('fonts/metropolis/Metropolis-Regular.otf');
}
